* {
    margin: 0;
    padding: 0;
}

.header {
    width: 80%;
    display: flex;
    padding: 1rem 10% 1rem 10%;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar li {
    display: inline;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 3rem;
    transition: 0.3s ease;
}

.navbar li a:hover, .navbar li .active {
    color: #00a0ff;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}
