* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    box-sizing: border-box;
    padding: 1rem 10% 1rem 10%;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar li {
    display: inline;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 3rem;
    transition: 0.3s ease;
}

.navbar li a:hover, .navbar li .active {
    color: #00a0ff;
}

main {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 1.5rem;
}

.footer {
    padding: 5rem 0;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #abcdef;
}

.footer-column {
    width: 33%;
}

.footer-column h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
}